<div class="pad-section title">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
	  	<div class="text-vcenter">
				<h1><%= tournament.name %></h1>
			</div>
		</div>
	</div>
</div>

<div class="pad-section">
  <div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
			<%= markdown tournament.description %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Destroy', tournament_path(tournament), method: :delete, data: {confirm: 'Are you sure?'} %>
        <%= link_to 'Edit', edit_tournament_path(tournament) %>
        <%= link_to 'Show', tournament_path(tournament) %>
      <% end %>
		</div>
	</div>
</div>
