<%= content_for :title do "Evenemang" end %>
<%= content_for :og_title do "Evenemanget Hexis" end %>=
<%= content_for :og_url do "about" end %>
<%= content_for :og_desc do "Info om Hexis, lokalen, och alla engagerade i projektet" end %>

<!--
        EVENEMANG
-->

<div class="pad-div" style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'bg_main.jpg' %>) center center fixed" >
  <%= image_tag 'hexis_text.png', :width => "80%", :style => "padding-top: 100px; margin: 0 auto", :class => "img-responsive"%>
</div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="hexis"></a>
        <h1>Hexis</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
    <div class="col-xs-8 col-xs-offset-2 col-lg-8">

      <h2>Hexis</h2>
      <p>
        Göteborgs nya LAN är här. Hexis är LANet Göteborg länge har väntat på. Västsveriges största LAN intar Prioritet 
        Serneke Arena den 31 mars till 2 april 2017 med schyssta turneringar, e-sport, aktivitetsområde och föreläsningar. 
      </p>
      <p>
        Med Hexis vill vi förändra gamingkulturen till något bättre, 
        visa på att det inte enbart är jolt-cola och källarlokaler. 
        Utan även en värld full av lärande och nya bekantskaper. 
      </p>
      <p>
        Hexis består av två delar, en LAN del med över 700 platser, fullspäckat med turneringar, 
        scenaktiviteter och liveakter. Andra delen är aktivitetsområdet som innehåller 
        alltifrån VR och e-sportshörna till föreläsningar. 
      </p>
      
      <h2>Lokal</h2>
      <p>
       Prioritet Serneke arena har fantastiska förutsättningar för att du som deltagare ska trivas. 
       Den sprillans nya arenan har inte bara en visslande snabb internetuppkoppling, utan även förstklassiga LAN-lokaler,
        utställningsytor, sovsalar, omklädningsrum och toaletter. I huset finns även ett Hotell som man kan sova på om man
        inte gillar sovsalar.
       Fler bilder på arenan finns <a href="http://prioritetsernekearena.se/bildbank">här</a>
      </p>
      <%= video_tag "serneke.mp4", :width => "100%", :height => "100%" ,:controls => true %>
    </div>
  </div>
</div>
<br />

<!--
        STYRELSEN
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'serneke3.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="team"></a>
        <h1>De kallar oss mods</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p class="text-center">
        <i>"Vi är bäst. Tjohej"</i>
      </p>
      <p class="text-center">
        <i> - Max "Maxainen" Horttanainen</i>
      </p>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Max.jpg', :class => 'img-responsive img-circle') %>
      <h2 class="text-center`">Max Horttanainen</h2>
      <h3>Projektledare</h3>
      <h3><a href="mailto:max@pinkorange.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('rami.jpg', :class => 'img-responsive img-circle') %>
      <h2>Rami "Sheiken" Sheik</h2>
      <h3>Ekonomi</h3>
      <h3><a href="mailto:rami@pinkorange.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>      
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Kevin.jpg', :class => 'img-responsive img-circle') %>
      <h2>Kevin "Kritt" Hoogendijk</h2>
      <h3>Infrastruktur</h3>
      <h3><a href="mailto:kevin@pinkorange.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('zache.jpg', :class => 'img-responsive img-circle') %>
      <h2>Zacharias "Zache" Lilja-Nylander</h2>
      <h3>Marknadsföring</h3>
      <h3><a href="mailto:zacharias@pinkorange.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>
    </div>
  </div>
</div>

<!--
      BAKGRUND
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(http://respectallcompete.se/wp-content/uploads/2014/11/pattern-opacity.png) center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="background"></a>
        <h1>Bakgrund</h1>
      </div>
    </div>
  </div>
</div>

<div class="pad-section">
    <div class="col-xs-8 col-xs-offset-2 col-lg-8">
      <h2>Bakgrund</h2>
      <p>
        Hexis är det första stora LAN som har valt att bygga sitt arrangemang 
        runt Sveroks code of conduct. 
        Hexis turneringar har regler som inte enbart baseras på prestation utan även uppförande och schysst spelande. 
        Ett annat område Hexis fokuserar på är att alla skall ha en möjlighet att uppleva e-spelsvärlden, då denna för många 
        socioekonomiskt utsatta inte är särskilt tillgänglig. 
        Öppna aktiviteter som testa-på tillfällen gör det möjligt för alla att vara med. 
      </p>
      <p>
        Arrangemanget tar plats på Prioritet Serneke Arena i Kviberg, som är anpassad för alla. 
        Fräscha lokaler, med mängder av aktiviteter på plats.
      </p>
      <p>
        Turneringarna vid arrangemanget är noga utvalda för att passa alla och innefatta alla grenar. 
        League of Legends och Counter-Strike: Global Offensive som är två av de populäraste e-sportsspelen idag. 
        Hearthstone är ett enkelt spel som är gjort för alla åldrar.
        Vår vision är att med de bästa förutsättningarna skapa ett inkluderande och högkvalitativt arrangemang som möjligt.
      </p>
      <p>
        Det är evenemangsföreningen Pink Orange som står bakom arrangemanget som med sina ungdomar planerar och genomför arrangemang i Göteborgsområdet och består av ungdomar från hela Göteborg. 
      </p>
      <br />
    </div>
  </div>
</div>
