<%= content_for :title do "Om oss" end %> 

<!--
        OM OSS
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'bgs/11.jpg' %>) no-repeat center center fixed">
</div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="about"></a>
        <h1>Om oss</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Vad är Hexis?</h2>
      <p>
        Ett spelevenemang där alla ska ha möjlighet att deltaga! I Kajskjul 105 med en yta på över 2700 kvadratmeter kommer Hexis bli det största arrangemanget inom spel i hela Västsverige. 
        På denna yta kommer omkring 650 stycken LAN-deltagare sittandes bekvämt få plats. En stor yta för utställare, konsolspel och bara “gött häng” kommer också att finnas, samt en scen där information kan utdelas och framträdanden kan framträdas. Andra aktiviteter som exempelvis turneringar ska hållas under hela helgen, och även tävlingar både inne i lokalen men också utanför för att uttnyttja den stora Bananpiren och dess underbara läge mitt i Göteborg. 
        <br /><br />
        Helgen 23-25 september är det som gäller, och under dessa 3 dygn lovar Hexis att bjuda på något som inte tidigare existerat!
      </p>
    </div>
  </div>
    <div class="col-xs-8 col-xs-offset-2 col-lg-8 col-lg-offset-2">
      <h2>Syfte</h2>
      <p>
        Avsaknaden av ett större spelarrangemang i Göteborg har länge varit stor, senast var sommaren 2009 då Dreamhack flyttade hit temporärt. Det finns en hel del mindre arrangemang runt om i staden, varav New Game har arrangerat flera. Många av dessa lockar ungdomar från stadsdelen, men vi vill tänka större. Göteborg är en framstående stad på många plan, och det är dags att lyfta spelvärlden till denna kartan på riktigt.
      </p>
    </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-lg-8">
      <h2>Hörnstenar</h2>
      <p>
        Hexis bygger på sex hörnsstenar som alla är viktiga för att arrangemanget ska bli så bra som möjligt.
      </p>

      <h3>Inkludering</h3>
      <p>
        E-sport och spelvärlden har länge präglats anonymitetens hat. Vi vill förändra detta, inte bara under vårt arrangemang utan i hela spelvärlden. Genom att skapa ett arrangemang som genomsyras av inkludering och rätt attityd vill vi att alla ska kunna delta, unga som gamla, oberoende livssituation!
      </p>
      
      <h3>Kunskap</h3>
      <p>  
        För att skapa en inkluderande attityd mot alla på och omkring arrangemanget behöver vi sprida kunskap om hur vi vill att spelvärlden ska vara. Code of conduct är en viktig del av denna hörnstenen.  
        Att skapa ett arrangemang som är tillgängligt för alla och ger alla en möjlighet till att uttrycka sin spelhobby innebär att sprida kunskap om att spelvärlden inte bara är skjutspel och fyrkantiga ögon.
      </p>

      <h3>Kvalitét</h3>
      <p>
        Arrangemanget kommer bland annat ha grupplatser som är helt enskilda från vanliga platser, där t.ex. ett kompisgäng kan sitta tillsammans. Aktiviteter såväl som utställare kommer vara relevanta och hålla hög kvalitét. Varje detalj spelar roll och Hexis jobbar för att göra varje liten del så bra som möjligt.
      </p>

      <h3>Förändring</h3>
      <p>
        Spel och e-sport är i många fall ganska elitistiskt. Man ska alltid ha den bästa datorn, de senaste spelen och den högsta ranken. Som tidigare nämnt vill vi inkludera alla i vårt arrangemang, du ska känna dig välkommen hur insatt du än må vara!
      </p>
      
      <h3>Spel</h3>
      <p>
        Hörnstenen spel är en utav de viktigaste, då Hexis är ett spelarrangemang. Arrangemangets styrgrupp har alla någon form utav relation till spelvärlden, vilket säkrar kvaliteten ytterligare. 
      </p>

      <h3>Awesomeness</h3>
      <p>
        Med alla dessa hörn blir Hexis ett evenemang i världsklass, och då behövs även awesomenesstänket. Vårt mål är att ni ska gå från arrangemanget delvis med en upplevelse som ni aldrig kommer glömma, men även gott om kunskap om den nya e-sportsvärlden. 
      </p>
    </div>
  </div>
</div>

<!--
        STYRELSEN
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'bgs/10.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="dreamteam"></a>
        <h1>Dreamteam</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p>
        I november 2015 påbörjades planeringen av Hexis, och det är styrgruppen här nedan som håller i alla trådar och ser till så att det blir ett bra och minnesvärt arrangemang. 
        Styrgruppen är de du ska kontakta med frågor eller andra ärenden. Det går även utmärkt att ställa din fråga på facebook. 
      </p>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Max.jpg', :class => 'img-responsive img-circle') %>
      <h2 class="text-center`">Max Horttanainen</h2>
      <h3>Projektledare</h3>
      <h3><a href="mailto:max.horttanainen@newgame.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Victor.jpg', :class => 'img-responsive img-circle') %>
      <h2>Victor Hanson</h2>
      <h3>Infrastruktur</h3>
      <h3><a href="mailto:victor.hanson@newgame.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Elli.jpg', :class => 'img-responsive img-circle') %>
      <h2>Ellinore Olausson</h2>
      <h3>Marknadsföring</h3>
      <h3><a href="mailto:ellinore.olausson@newgame.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>
    </div>
  
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Hannes.jpg', :class => 'img-responsive img-circle') %>
      <h2>Hannes Thimell</h2>
      <h3>Personal</h3>
      <h3><a href="mailto:hannes.thimell@newgame.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Johannes.jpg', :class => 'img-responsive img-circle') %>
      <h2>Johannes Backlund</h2>
      <h3>Ekonomi</h3>
      <h3><a href="mailto:johannes.backlund@newgame.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>
    </div>
    <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
      <%= image_tag('Kevin.jpg', :class => 'img-responsive img-circle') %>
      <h2>Kevin Hoogendijk</h2>
      <h3>Funmaster</h3>
      <h3><a href="mailto:kevin.hoogendijk@newgame.se"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></h3>
    </div>
  </div>
</div>

<!-- 
      MEDLEMSKAP
-->


</div>
