<%= content_for :title do "Deltagarinfo" end %>
<%= content_for :og_title do "Hexis deltagarinfo" end %>=
<%= content_for :og_url do "participant" end %>
<%= content_for :og_desc do "Deltagarinfo inklusive föräldrainfo, FAQ och packlista" end %>

<!--
        Sovsalar och packlista
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'lan1.jpg' %>) no-repeat center center fixed">
</div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="sovsalar"></a>
        <h1>Sovsalar och packlista</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
    <div class="col-xs-8 col-xs-offset-2 col-lg-5 col-lg-offset-2">
      <div class="row">
        
        <div class="col-xs-12">
          <h2>Sovsalar</h2>
          <p>
            Sovsalar finns tillgängliga dygnet runt på ovanvåningarna. 
            Där har vi ca 20st klassrum där man i godan ro kan ladda batterierna inför nästa kvälls spelande.
            Sömn är något som är väldigt viktigt och vi uppmuntrar alla deltagare att sova ordentligt, allt blir så mycket roligare då!
          </p>
        </div>

        <div class="col-xs-12">
          <h2>FAQ</h2>
          <div class="spoiler">
            <h3 class="spoiler-btn">Hur hittar jag dit?</h3>
            <div class="spoiler-body collapse">
              <p>
                Adress: Krutvägen 2-4, 415 28 Göteborg
              </p>
              <p>
                Spårvagnshållplatsen “Kviberg” ligger nära. 
                Från centralstationen tar man 11an eller 7an mot Bergsjön, 
                se <a href="https://vasttrafik.se">västrafik.se</a> eller deras app 
                reseplaneraren för relevanta tidtabeller!
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Vad kostar en biljett?</h3>
            <div class="spoiler-body collapse">
              <p>
                400 kr
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Var kan jag köpa biljetter?</h3>
            <div class="spoiler-body collapse">
              <p>
                Klicka på knappen längst upp till höger.
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Hur lång internetkabel behöver jag?</h3>
            <div class="spoiler-body collapse">
              <p>
                ca. 10 m
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Kommer ni ha turnering i X?</h3>
            <div class="spoiler-body collapse">
              <p>
                Vi kommer ha turneringar i Counter Strike: Global Offensive,
                 League of Legends, Rocket League, HearthStone och Overwatch.
                 All information kring turneringarna hittas under turneringar 
                Mindre och mer spontana turneringar kommer självklart också arrangeras.
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Vad ska jag ta med mig?</h3>
            <div class="spoiler-body collapse">
              <p>
                Vi har sammanställt en liten packlista här bredvid!
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Vad finns det för mat att äta under arrangemanget?</h3>
            <div class="spoiler-body collapse">
              <p>
                I arenan finns en restaurang där man kan köpa både frukost, 
                lunch och middag. Runt omkring finns även pizzerior och annan
                 snabbmat. Centrum erbjuder mycket annat och ligger bara 10 min
                  bort med spårvagn.
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Var får jag röka?</h3>
            <div class="spoiler-body collapse">
              <p>
	              Utanför entren, det är absolut förbjudet att röka inomhus 
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Finns det ett Wi-Fi tillgängligt?</h3>
            <div class="spoiler-body collapse">
              <p>
	              Ja, sladd rekommenderas dock
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Kan jag ta med konsol?</h3>
            <div class="spoiler-body collapse">
              <p>
                Självklart! Man kan ta med allt som kan spelas på, sålänge det rymms på din plats. 
                (om du vill ta med din arkadmaskin, snacka med oss innan)
              </p>
            </div>
          </div>

          <div class="spoiler">
            <h3 class="spoiler-btn">Kan jag använda min egen stol/kontorsstol?</h3>
            <div class="spoiler-body collapse">
              <p>
                Ja. Vi erbjuder enklare stolar men det är tillåtet att ta med sig en egen kontorsstol/gamingstol.
              </p>
            </div>
          </div>          
        </div>

      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-lg-3 col-lg-offset-0">
      <h2>Packlista</h2>
      <ul class="packlista">
        <li>Skärm</li>
        <li>Dator</li>
        <li>Kablage (skärmkabel, strömkablar)</li>
        <li>Nätverkskabel, ca 10 m</li>
        <li>Headset, tangentbord, mus, musmatta</li>
        <li>Egen stol (finns på plats men inte så bekväma)</li>
        <li>Sovsaker (liggunderlag/madrass, kudde, sovsäck etc.)</li>
        <li>Hygienartiklar (tandborste, handduk)</li>
        <li>Pengar</li>
      </ul>
      <br>
    </div>
  </div>
</div>
<br />

<!--
       FÖRÄLDRAR 
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'serneke1.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="parents"></a>
        <h1>För Föräldrar</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Vad är ett e-spelsarrangemang?</h2>
      <p>
        Ordet e-spelsarrangemang, också kallat LAN ,brukar ofta användas för 
        denna typen av arrangemang. Grundtanken är att flera personer tar med
         sig datorer eller annan konsol, kopplar upp dem på ett befintligt 
         nätverk börjar spela med varandra. Utöver detta kommer det arrangeras
         turneringar, föreläsningar och andra aktiviteter.
      </p>

      <h2>Vad är Hexis?</h2>
      <p>
        Hexis är ett nytt arrangemang i Göteborg som lägger stort fokus på att 
        alla ska känna sig välkomna, trygga och delaktiga. Spelkulturen har länge
         haft problem med att anonymiteten ger användarna friheten att skriva och
          säga vad de vill utan konsekvenser. Med Hexis vill vi ändra på detta.
      </p>
      <p>
        Anledningen till att vi kallar detta e-spelsarrangemang och inte LAN 
        är att vi tycker att de flesta LAN tar väldigt lite ansvar för hur 
        atmosfären och jargongen kring spelen är, Hexis är annorlunda, vi är 
        extremt måna om att alla ska känna sig trygga och ha kul. 
      </p>
      <p>
        Vi har ingen övre eller undre åldersgräns och även om vi alltid kommer 
        försöka se till våra deltagares bästa så kan vi givetvis inte ta något 
        ansvar för någon deltagarnas hälsa eller dess utrustning. 
      </p>
      <p>
        På Hexis kommer det arrangeras turneringar i olika spel, möjlighet att 
        spela spel tillsammans med nya kompisar, sovplats i särskilda sovsalar, 
        scentävlingar, brädspelshörnor, tvspelshörnor och mycket, mycket mer. 
      </p>

      <h2>Varför ska jag låta mitt barn åka på Hexis?</h2>
      <p>
        Eftersom du är här så är ditt barn antagligen väldigt intresserad av 
        datorspel, esport eller datorspelskultur. 
      </p>
      <p>
        Vi tror att det är bra att få uppleva den sociala aspekten av 
        datorspelande. Att unga får engagera sig i ett utvecklande 
        fritidsintresse är alltid bra. Alla behöver ett socialt sammanhang 
        för att kunna utvecklas som person. Istället för att sitta hemma och 
        spela ger vid ditt barn för en ringa kostnad en möjlighet att träffa 
        andra som är intresserade av samma sak samt att knyta vänskapsband med 
        likasinnade. Dessa vet vi av personlig erfarenhet kan hålla väldigt länge. 
      </p>

      <h2>Vilka är vi som arrangerar Hexis?</h2>
      <p>
        Vi är en förening precis som en fotbollsförening, handbollsförening, 
        fäktningsklubb eller scoutkår, fast vi jobbar för att främja LAN och 
        esport. Föreningen heter Pink Orange och grundades med syftet att driva 
        Hexis.
      </p>

      <h2>Hur kan jag få reda på mer?</h2>
      <p>
        Om du är intresserad av att veta mer om vad LAN är, vill att vi ska 
        komma och prata på ett föräldramöte eller bara vill ha svar på en fråga; 
        maila då hej@pinkorange.se.
      </p>
      <br />
    </div>
  </div>
</div>
