<%= form_for @table do |f| %>
    <% if @table.errors.any? %>
        <div id="error_explanation">
        <h5>
            <%= pluralize(@table.errors.count, "error") %> förhindrade denna nyhet från att sparas:
        </h5>
        <ul>
            <% @table.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :seats %><br>
        <%= f.number_field :seats, class: "form-control input-sm" %>
    </p>

    <p>
        <%= f.label :booked %><br>
        <%= f.number_field :booked, class: "form-control input-sm"%>
    </p>

    <p>
        <%= f.submit 'Submit', class: 'btn btn-lg btn-primary btn-block'%>
    </p>

<% end %>
