<div class="pad-div", style="background: url(<%= asset_path 'lan1.jpg' %>) 
	no-repeat center center fixed"></div>

<div class="pad-section title">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
	  	<div class="text-vcenter">
				<h1>Platskarta</h1>
			</div>
		</div>
	</div>
</div>

<div class="pad-section">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-offset-3">
			<p>Här kan man se hur många platser som är bokade på varje bord</p>
			<p>Just nu finns det <b><%= tickets_left() %></b> platser kvar</p>
			<% @tables.each_slice(10) do |row| %>
				<div class="row">
					<div class="col-xs-4 col-lg-4">
						<% row.slice(0,4).each do |table| %>
							<%= render table %>
						<% end %>
					</div>
					<div class="col-xs-3">
						<% row.slice(4,2).each do |table| %>
							<%= render table %>
						<% end %>
					</div>
					<div class="col-xs-5 col-lg-4">
						<% row.slice(6,4).each do |table| %>
							<%= render table %>
						<% end %>
					</div>
				</div>
			<% end %>
			<a style="padding: 2px; padding-right: 10px; padding-left: 10px" class="buy-button" 
              href="https://kippu.events/e/hexis"><button class="btn btn-lg btn-primary">Köp nu</button></a>
			<% if user_signed_in? && current_user.admin? %>
				<% @tables.each do |table| %>
					<%= link_to "Destroy #{table.id}", table_path(table), method: :delete, data: {confirm: "Are you sure?"} %>
					<%= link_to "Edit #{table.id}", edit_table_path(table) %>
					<%= link_to "Show #{table.id}", table_path(table) %>
					<br>
				<% end %>
				<br>
				<%= link_to "New table", new_table_path() %>
			<% end %>
		</div>
	</div>
</div>