<div class="pad-div", style="background: url(<%= asset_path 'lan1.jpg' %>) 
	no-repeat center center fixed"></div>

<div class="pad-section title">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
	  	<div class="text-vcenter">
				<h1>Platskarta</h1>
			</div>
		</div>
	</div>
</div>

<div class="pad-section">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-offset-3">
			<p>H채r kan man se hur m책nga platser som 채r bokade p책 varje bord</p>
			<% @tables.each_slice(8) do |row| %>
				<div class="row">
					<div class="col-xs-6 col-lg-4">
						<% row.slice(0,4).each do |table| %>
							<%= render table %>
						<% end %>
					</div>
					<div class="col-xs-6 col-lg-4 col-lg-offset-2">
						<% row.slice(4,8).each do |table| %>
							<%= render table %>
						<% end %>
					</div>
				</div>
			<% end %>
			<% if user_signed_in? && current_user.admin? %>
				<% @tables.each do |table| %>
					<%= link_to "Destroy #{table.id}", table_path(table), method: :delete, data: {confirm: "Are you sure?"} %>
					<%= link_to "Edit #{table.id}", edit_table_path(table) %>
					<%= link_to "Show #{table.id}", table_path(table) %>
					<br>
				<% end %>
				<br>
				<%= link_to "New table", new_table_path() %>
			<% end %>
		</div>
	</div>
</div>