<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).empty? ? "Hexis" : yield(:title) %></title>
  <link rel="shortcut icon" href="<%= asset_path('hexis_logo.png')%>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller]%>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= yield :charts_js %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Hexis', "/", class: "visible-xs visible-sm navbar-brand", 'data-no-turbolink'=> true %>
      </div>

      <a class="hidden-xs hidden-sm navbar-brand brand-logo" href="/" data-no-turbolink>
        <%= image_tag("hexis_logo_brand.png") %>
      </a>

      <div id="navbar" class="collapse navbar-collapse" data-no-turbolink>
        <ul class="nav navbar-nav" data-no-turbolink>
          <%= nav_link 'Hem', "/" %>
          <li class="dropdown">
            <a href="/about" class="hidden-lg hidden-md">Evenemang</a>
            <a href="/about" class="dropdown-toggle hidden-xs hidden-sm">Evenemang<span class="caret"></span></a>
            <ul class="dropdown-menu hidden-xs hidden-sm">
              <li><%= link_to "Hexis", "/about#hexis" %></li>
              <li><%= link_to "Lokalen", "/about#hexis" %></li>
              <li><%= link_to "De kallar oss mods", "/about#team" %></li>
              <li><%= link_to "Bakgrund", "/about#background" %></li>
            </ul>
          </li>
          <%= nav_link 'Turneringar', tournaments_path %>
          <!--%= nav_link 'Nyheter', articles_path %-->
          <li class="dropdown">
            <a href="/participant" class="hidden-lg hidden-md">Inför Hexis</a>
            <a href="/participant" class="dropdown-toggle hidden-xs hidden-sm">Inför Hexis<span class="caret"></span></a>
            <ul class="dropdown-menu hidden-xs hidden-sm">
              <li><%= link_to "Deltagarinfo", "/participant#sovsalar" %></li>
              <li><%= link_to "För föräldrar", "/participant#parents" %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="vcenter"><a style="padding: 2px; padding-right: 10px; padding-left: 10px" class="buy-button" 
              href="http://bit.ly/hexis-biljetter"><button class="btn btn-lg btn-primary">Köp biljett</button></a></li>
          <% unless mobile_device? %>
            <li class="vcenter" style="padding-right: 10px"><%= render 'shared/stripe' %></li>
          <% end %>
          <% if user_signed_in? %>
            <li class="vcenter hidden-sm hidden-xs"><%= image_tag(current_user.gravatar_url(:size => 40, :default => "retro"), :class => "avatar") %></li>
            <li class="hidden-lg hidden-md"><%= link_to('Profil', '/profile') %></li>
            <li class="hidden-lg hidden-md"><%= link_to('Logga ut', destroy_user_session_path, :method => :delete) %></li>
            <% if current_user.admin?  %>
              <li class="hidden-lg hidden-md"><%= link_to('Admin', '/admin') %></li>
            <% end %>
            <li class="dropdown hidden-sm hidden-xs">
              <a href="/profile" class="dropdown-toggle"><%= current_user.username %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to('Profil', '/profile') %></li>
                <li class="divider">  </li>
                <li><%= link_to('Logga ut', destroy_user_session_path, :method => :delete) %></li>
                <% if current_user.admin?  %>
                <li class="divider">  </li>
                <li><%= link_to('Admin', '/admin') %></li>
                <%end%>
              </ul>
            </li>
            <% if mobile_device? %>
              <li class="vcenter" style="padding-right: 10px"><%= render 'shared/stripe' %></li>
            <% end %>
          <% else %>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>

    <% unless(notice.nil?) %>
    <div class="alert alert-info"><%= notice %></div>
    <% end %>

    <% unless(alert.nil?) %>
    <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <% unless(yield(:page_title).empty?)  %>
    <div class="page-header"><%= yield :page_title %></div>
    <% end %>

    <%= yield %>
    <% unless /devise\/*/.match(params[:controller]) || /users\/*/.match(params[:controller])%>
      <%= render "shared/sponsors" %>
    <% end %>
    <%= render "shared/footer" %>
  </div>
</body>
</html>
